<div class="collection">
  <figure>
     <img src="images/suit1.jpg" alt="a new suit ">
     <figcaption>New <b>CAD $230</b></figcaption>
  </figure>
   <figure>
       <img src="images/suit2.jpg" alt="a latest suit ">
       <figcaption>Latest <b>CAD $230</b></figcaption>
   </figure>
   <figure>
       <img src="images/suit3.jpg" alt="a limited suit ">
       <figcaption>Limited <b>CAD $230</b></figcaption>
   </figure>
   <figure>
       <img src="images/suit4.jpg" alt="a trending suit ">
       <figcaption>Trending <b>CAD $230</b></figcaption>
   </figure>
   <figure>
       <img  src="images/suit5.jpg" alt="a unique suit ">
       <figcaption>Unique <b>CAD $230</b></figcaption>
   </figure>
   <figure>
       <img  src="images/suit6.jpg" alt="a formal suit ">
       <figcaption>Formal <b>CAD $230</b></figcaption>
   </figure>

</div>
