<div class="about">
    <h4>Motive</h4>
    <p>My motive behind this website is to implement most of the stuff that I learnt in CPSC 2030. This includes AJAX functionality, php, jQuery and aria stuff. It is a dynamic website made from scratch.</p>

    <div>
      <h4>Features</h4>
      <ul>
        <li>The blog page contains a functionality like a facebook feed that is refreshed in every 10s.</li>
        <li>I have used a <b>FadeIn</b> keyframe on main element.</li>
        <li>The shop button do have shadow <b>transition</b> effect in Desktop view. In mobile view, the left side icon pop-up a menu with <b>transition</b> </li>
        <li>The site is responsive with any kind of device. The header closes all nav items into a button.</li>
        <li>I have used lot of grids. For example - The social icons are placed in a grid, the collection page elements are placed in a grid.</li>
      </ul>
    </div>

    <h4>Requirements</h4>
    <ul>
      <li><b>Organization: </b>The architecture of this site is tree-based. Firstly, index.php (i.e. home-page) is called which then calls the single.php for all other pages. All my HTML code is placed inside "templates" folder. The database connection stuff is inside the "database" folder. The form structure on the "Blog" page uses post-form.css for style. </li><br>

      <li><b>Dynamic content: </b>The "Blog" page has dynamic content in it i.e. connection with a database. The "form" in this page stores data into the database with AJAX post request and the data is fetched using AJAX get request and displayed in the comment section.</li><br>

      <li><b>One form: </b>All the "blog" posts have a form with them and the form does have client-side as well as server-side validation in order to prevent malicious activity or wrong input.</li><br>

      <li><b>Update the database: </b>User can easily update database on the "blog" page. This page has a review section on each post that enables them to update database anytime.</li><br>

      <li><b>Security Measure: </b>As I said this website has a client side as well as a server side validation on form that prevents users to enter wrong input. Besides this, I used prepare statements while updating the database that prevent SQL injection.</li><br>
    </ul>

    <div class="validation">
      <h4>Validation ScreenShots</h4>
      <img src="images/style.css.png" alt="png">
      <img src="images/form.css.png" alt="png">
      <img src="images/html.png" alt="png">
      <img src="images/Server.png" alt="png">
      <img src="images/client.png" alt="png">

    </div>

    <div class="sources">
      <h4>Sources</h4>
      <ul>
        <li><a href="https://unsplash.com/photos/dgOJDAv96s8">Main page first image</a></li>
        <li>I have already added sources of blog post images on the same page </li>
        <li><a href="https://www.w3schools.com/howto/howto_css_responsive_form.asp">Responsive Form</a></li>
        <li><a href="https://unsplash.com/photos/oxBMKq7T9ls">Suit1 on collection</a></li>
        <li><a href="https://unsplash.com/photos/2Lm_Hb8sH4s">Suit2 on collection</a></li>
        <li><a href="https://unsplash.com/photos/ENyfrgkZb7M">Suit3 on collection</a></li>
        <li><a href="https://unsplash.com/photos/WdJkXFQ4VHY">Suit4 on collection</a></li>
        <li><a href="https://unsplash.com/photos/5N2tCRDWaLI">Suit5 on collection</a></li>
        <li><a href="https://unsplash.com/photos/qJnsHa8DWyY">Suit6 on collection</a></li>
        <li><a href="https://pixabay.com/illustrations/men-sketch-fashion-people-2421454/">1st logo on home</a></li>
        <li><a href="https://pixabay.com/illustrations/men-sketch-fashion-people-2421452/">2nd logo on home</a></li>
        <li><a href="https://pixabay.com/illustrations/men-sketch-fashion-people-2421449/">3rd logo on home</a></li>
      </ul>
    </div>
</div>
