
  </main>

<footer>
  <div class="social">
    <a href="http://linkedin.com/in/pawandeep-singh-sandhu-83b82b17b" target="_blank" aria-label="LinkedIn"><span id="social-linkedIn"></span></a>
    <a href="https://www.facebook.com/Pawandeep.singh.13" target="_blank" aria-label="facebook"><span id="social-facebook"></span></a>
    <a href="https://plus.google.com/u/0/117126132171760774545" target="_blank" aria-label="Gmail"><span id="social-google"></span></a>
    <a href="https://www.instagram.com/itspawandeepsingh/?hl=en" target="_blank" aria-label="Instagram"><span id="social-instagram"></span></a>
  </div>

  <?php
    require 'bottom-menu.html';
  ?>
  <p>&copy;2019 BY ROYAL SUITS. PROUDLY CREATED BY PAWANDEEP SINGH</p>
</footer>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/6.2.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

</body>

</html>
