<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Royal Suits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="templates/icomoon/style.css">
    <link rel="stylesheet" href="templates/post-form.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="api.js"></script>

  </head>
  <body>
    <header>
      <nav>
        <span id="side-list" role="menu" aria-expanded=false aria-label="A button for menu"></span>
        <h2><a href="index.php?">ROYALSUITS</a></h2>
        <span id="side-cart"></span>
      </nav>

      <div class="side-menu">
        <ul class="myLinks">
          <li><a href="./index.php?">What's New</a></li>
          <li><a href="./single.php?id=collection">Collection</a></li>
          <li><a href="./single.php?id=blog">Blog</a></li>
          <li><a href="./single.php?id=documentation">Documentation</a></li>
        </ul>
      </div>

      <div class="top-cart">
          <span id="side-cartTop"></span>
      </div>


    </header>
    <main>
