<div class="wrapper">

  <div class="firstSection">

    <img src="images/main.jpg" alt="an image of a suited man" id="coverPic">
    <p>DISCOUNTS ON OUR LATEST ARRIVALS</p>
    <p>Our Seasonal Special!</p>

    <button class="button buttonS"><a href="single.php?id=collection">Shop Now</a></button>

  </div>
  <div class="secondSection">
    <div class="container">
      <a href="single.php?id=collection">
          <img src="images/suit2.jpg" alt="suited man image">
          <div class="centered">
            <p>Latest</p>
          </div>
      </a>
    </div>

    <div class="container">
      <a href="single.php?id=collection">
          <img src="images/suit3.jpg" alt="suited man image">
          <div class="centered">
            <p>Limited</p>
          </div>
      </a>
    </div>


  </div>

  <div class="thirdSection">
    <p>OUR PERFECT FIT GUARANTEE<p>

    <ul class="facilities">
      <li>
        <img src="images/img1.png" alt="a person's clip art">
        <div>
          <p>Our customer service team has your answers 24/7
          </p>
        </div>
      </li>

      <li>
        <img src="images/img2.png" alt="two person's clip art">
        <div>
          <p>Fast delivery, in-store pick-up, and alterations while you wait
          </p>
        </div>
      </li>

      <li>
        <img src="images/img3.png" alt="two persons are running in image">
        <div>
          <p>Enjoy free returns by mail on unaltered items within 30 days
          </p>
        </div>
      </li>

    </ul>

  </div>



</div>
